<!-- Instructions: Take playground app remodling with Twitter bootstrap-->
<!doctype html>
<html lang="en">
<head>
  <title>Tom's Ruby Gem Playground Using Sinatra</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/script.js"></script></head>

<body>
  <div id="navbar">
    <div class="row">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="movies">Movies</a></li>
            <li><a href="images">Images</a></li>
            <li><a href="stocks">Stocks</a></li>
          </ul>
        </div> <!-- navbar-inner -->
      </div> <!-- navbar-inverse -->
    </div> <!-- row -->
  </div> <!-- navbar -->

  <%= yield %>

</body>
</html>